* {
box-sizing: border-box;
margin: 0 auto;
font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a, button {
  cursor: pointer;
}

nav {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.nav-site {
  flex-basis: 40%;
  padding-left: 4em;
  font-size: 1.5em;
  color: rgb(50, 175, 186);
  /*text-transform: uppercase;*/
}

.nav-site:hover {
  color: rgb(178,156,9);
}

.dropdown {
  flex-basis: 20%;
  position: relative;
  text-align: center;
}

.dropdown span {
  color: rgb(178,156,9);
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 17%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1% 1.5%;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 2%;
}

.dropdown-content a:hover {
  background-color: rgb(50, 175, 186);
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav ul {
  flex-basis: 40%;
  text-align: right;
  padding-right: 4em;
}

nav ul, nav ul li {
  display: inline-block;
}

.navbar-link-group li {
  text-decoration: none;
  padding: 0.5em 2em 0.5em 0;
}

.navbar-item a:hover {
  color: rgb(178,156,9);
}

footer {
  text-align: center;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer span {
  text-align: center;
}

/*---homepage---*/

.homepage {
  min-height: 84vh;
}

.home-header {
  text-align: center;
  font-size: 1.5em;
  padding: 1%;
}

.home-header h5 {
  color: rgb(50, 175, 186);
}

.home-banner {
  height: 70vh;
  background-image: url('../mayer2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-shopping-link {
  background-color: white;
  width: 17%;
  text-align: center;
  margin: 4% 3% 0% 6%;
  padding: 2%;
}

.home-shopping-link:hover {
  background-color: rgb(50, 175, 186);
}

/*---store-page---*/
.page-title {
  text-align: center;
  padding: 2%;
  margin: 1% 0%;
  text-transform: capitalize;
  font-size: 2em;
}

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  padding: 1% 0%;
}

.item-box {
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin: 1%;
  background-color: white;
  border-radius: 5px;
}

.item-image {
  height: 35vh;
  transition: all 0.5s;
}

.item-image:hover {
  height: 45vh;
}

.item-info {
  padding: 0% 2%;
  width: 50%;
}

.item-info p {
  padding: 2% 0%;
}

.purchase-button {
  background-color: rgb(50, 175, 186);
  border: none;
  border-radius: 5px;
  padding: 3%;
  font-size: 14px;
}

.purchase-button:hover {
  background-color: rgb(178,156,9);
}

/*---contact page---*/
.contact-info {
  text-align: left;
  margin: 2% 4%;
  font-size: 1.2em;
}

.number {
  color: rgb(50, 175, 186);
}

.email {
  color: rgb(178,156,9);
}

.form-and-pic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3% 4% 1% 4%;
}

.signup-form {
  flex-basis: 50%;
}

.signup-form input, .signup-form p, .signup-form button {
  font-size: 1.1em;
}

.signup-form input {
  margin-top: 4%;
  width: 70%;
  padding: 1% 2%;
}

.signup-form button {
  margin-top: 4%;
  background-color: rgb(50, 175, 186);
  border: none;
  width: 20%;
  padding: 1%;
}

.image-container {
  flex-basis: 50%;
  text-align: center;
}

.image-container img {
  border-radius: 4%;
  height: 60vh;
}

/*---about page---*/
.about-and-pic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3% 5% 1% 5%;
}

.about-info {
  text-align: justify;
  margin: 2% 5%;
  font-size: 1.2em;
}

.facts-list {
  flex-basis: 50%;
  background-color: rgb(50, 175, 186);
  padding: 1.5% 1.5% 1.5% 0%;
}

.facts-list h3 {
  font-size: 1.5em;
  padding-left: 4%;
}

.facts-list ul {
  margin: 1% 0%;
  text-align: justify;
}

.facts-list li {
  padding-top: 1.5%;
}

.about-image-container {
  flex-basis: 50%;
  text-align: left;
  padding: 3% 0%;

}

.about-image-container img {
  border-radius: 4%;
  height: 50vh;
}

/*---shopping cart---*/
.cart-page {
  min-height: 80vh;
}
